body {
  background-color: rgb(168, 200, 189);
}
h1 {
  color: rgba(246, 7, 7, 0.979);
}
/* #title-2 {
  background-color: sandybrown;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
} */
